<footer class="d-flex p-2 bd-highlight footer mt-auto navbar-light bg-light">
  <div class="justify-content-center">
      <p class="text-center title--active">Contactanos</p>
      <a href="mailto:correoapi@gvneg.com">correoapi@gvneg.com <fa-icon [icon]="faEnvelopeOpen"></fa-icon></a>
      <a href="https://twitter.com/?lang=es"> En nuestras redes sociales <fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="https://web.whatsapp.com/"> O en Whatsapp <fa-icon [icon]="faWhatsapp"></fa-icon></a>
      <p class="text-center text-white">By: D. Iglesias, &copy; 2022 GVNEG</p>
  </div>
</footer>
