*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  /*
  font-family: 'Exo', sans-serif;*/
  font-family: 'Roboto Slab', serif;
}

.contenedor{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding:15px 0;
  height: auto;
}

.hero{
  width: 100%;
  min-height: 9vh;
  background: linear-gradient(0deg, #5a5c5f 0%, #000000 100%);
}


.nav__hero{
  color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.logo__name{
  color: #F4BD76;
  font-size: 42px;
}

.link{
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
}

.link--active{
  color: #F4BD76;
  font-weight: 700;
}

.contenedor--modifier{
  width: 28%;
}

.hero__main{
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
}

.hero__textos{
  width: 48%;
}

.title{
  font-size: 56px;
  font-weight: 300;
  color: #000000;
}

.title--active{
  color: #df901a;
  font-weight: 700;
}

.copy{
  font-size: 24px;
  color: #ffffff80;
  text-shadow: 0 8px 8px  #00000033;;
  margin: 15px 0;
}

.copy__active{
  font-weight: 700;
}

.cta{
  padding: 20px 30px;
  display: inline-block;
  background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  box-shadow: #000000 #00000033;
  border-radius: 6px;
}

.subtitle{
  font-size: 42px;
}

.subtitle--modifier{
  text-align: center;
  margin-bottom: 16px;
}

.copy__section{
  color: #5a5c5f;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px;
}

.copy__section--modifier{
  text-align: center;
  margin-bottom: 32px;
}

.footer{
  background: linear-gradient(#5a5c5f 0%, #000000 100%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer__caption{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}


.title__footer{
  font-size: 24px;
  margin-bottom: 32px;
}


.footer__copy{
  width: 100%;
  color: #5a5c5f;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:1000px){
  .mockup{
      width: 600px;
      height: auto;
  }

  .title{
      font-size: 50px;
  }

  .copy{
      font-size: 22px;
  }

  .cta{
      padding: 15px 22px;
  }

  .contenedor--modifier{
      width: 65%;
  }
}

@media screen and (max-width:700px){
  main .contenedor,
  footer .contenedor{
      padding: 60px 0;
  }

  .nav__contenedor{
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .nav__hero{
      height: auto;
  }

  .logo{
      padding: 15px 0 ;
      text-align: center;
  }

  .links{
      padding-bottom: 10px;
      text-align: center;
  }

  .link{
      padding: 7px 10px;
  }


  .hero__main{
      flex-direction: column-reverse;
      justify-content: flex-end;
      min-height: 70px;
      height: auto;
      padding: 30px 0;
  }

  .hero__textos{
      width: 100%;
      text-align: center;
  }

  .mockup{
      width: 60%;
      margin-bottom: 20px;
  }

  .title{
      font-size: 35px;
  }

  .copy{
      font-size: 20px;
  }

  .subtitle{
      font-size: 35px;
      text-align: center;
  }

  .contenedor--modifier{
      width: 80%;
  }

  .item__contact{
      width: 100%;
      padding: 30px 0;
  }
}

@media screen and (max-width:500px){
  .mockup{
      width: 80%;
      margin-bottom: 15px;
  }

  .services .card{
      width: 95%;
  }

  .card{
      width: 95%;
  }

  .background{
      width: 95%;
  }

  .testimony__card{
      width: 95%;
  }

  .testimony__history{
      font-size: 20px;
  }

  .contenedor--modifier{
      width: 90%;
  }

}
