<footer class="d-flex p-2 bd-highlight footer navbar-light bg-light">
  <div class="justify-content-center">
      <p class="text-center title--active">Contactanos</p>
      <a href="mailto:danygle86@gmail.com">danygle86@gmail.com    <i class="fa-solid fa-envelope-open"></i></a>
      <a href="https://twitter.com/?lang=es"> En nuestras redes sociales <i href="https://twitter.com/?lang=es" class="fa-brands fa-twitter"></i></a>
      <a href="https://web.whatsapp.com/"> O en Whatsapp <i class="fa-brands fa-whatsapp"></i> </a>
      <p class="text-center text-white">By: Daniel Iglesias Plaza, &copy; 2022 GVNEG</p>
  </div>
</footer>
