<main>
  <div class="row mb-2">

    <hr class='w-100'>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2 text-center">
            {{ ingreso.fecha | date: 'dd-MM-yyyy'}}
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 text-center">
            {{ ingreso.concepto }}
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 text-center">
            {{ ingreso.estado }}
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 text-center ingreso">
            {{ ingreso.importe}}
          </div>

          <div class="col-1">
              <a>
                  <fa-icon
                  [icon]="faEditPen"
                  class="fa-2x"
                  (click)="editarIngreso(ingreso)"
                  ></fa-icon>
              </a>
          </div>
          <div class="col-1">
              <a>
                  <fa-icon
                  [icon]="faBorrarTrash"
                  class="fa-2x"
                  (click)="eliminarIngreso()"
                  ></fa-icon>
              </a>
          </div>
  </div>
<main>


<!-- <main>
  <div class="container mt-auto">

      <div class="row justify-content-center">
          <div class="col-5">
              <li class="list-group-item">{{ ingreso.fecha | date: 'dd-MM-yyyy'}} {{ ingreso.concepto }}{{ ingreso.estado }}{{ ingreso.importe }}</li>
          </div>
          <div class="col-1">
              <a>
                  <fa-icon
                  [icon]="faEditPen"
                  class="fa-2x"
                  (click)="editarIngreso(ingreso)"
                  ></fa-icon>
              </a>
          </div>
          <div class="col-1">
              <a>
                  <fa-icon
                  [icon]="faBorrarTrash"
                  class="fa-2x"
                  (click)="eliminarIngreso()"
                  ></fa-icon>
              </a>
          </div>
      </div>

  </div>
<main> -->
