<body>
  <h2>CREA TU NUEVA CUENTA</h2> <br>
  <section>

  <div class="form-group mt-auto col-md-3">
    <label >Nombre:</label>
    <input type="name" [(ngModel)]="nuevacuenta.nombre" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group mt-5 col-md-3">
    <label >Descripción:</label>
    <input type="name" [(ngModel)]="nuevacuenta.descripcion" class="form-control" id="descripcion" placeholder="Descripcion">
  </div>

  </section>

  <section #botones class="mt-5">
    <button type="reset" class="btn btn-secondary">Borrar </button>&nbsp;
    <button type="submit" class="btn btn-primary"> Aceptar</button>
  </section>
  <br>

</body>

