<body>
  <div class="contenedor subtitle--modifier margin_top">
      <h2 class="subtitle">Bienvenido a </h2>
      <h1 class="title--active">LA GESTIÓN VIRTUAL DE SU NEGOCIO</h1>
  </div>

  <section class="container mx-auto">
      <div class="row justify-content-center media">
          <picture class="col-sm align-self-center mr-3">
              <source media="(max-width: 480px)" srcset="assets/img/billetecayendo.jpg">
              <source media="(max-width: px)" srcset="assets/img/imagenmonedas.jpg">
              <img id="imgportada" src="assets/casabilletes.jpg" class="mx-auto d-block" style="width:100%" alt="Porque tu economía importa">
          </picture>
          <div class="col-sm shadow p-3 mb-5 bg-white rounded">
              <img id="imglogo" src="assets/logoGVNEG.png" class="mx-auto d-block" style="width:90%" alt="GVNEG">
              <h2>Controle sus negocios</h2>
              <p class="copy">Gestionando su Cuenta de Resultados al instante.</p>
              <a routerLink="nuevacuenta" class="cta">Nueva Cuenta</a>
          </div>
      </div>
  </section>
</body>
