<header class="container-fluid hero">
  <nav class="nav__hero">
      <div class="contenedor nav__contenedor d-flex bd-highlight">
          <div class="logo d-flex bd-highlight navbar-brand">
              <h2 routerLink="" class="logo__name">GVNEG</h2>
          </div>
          <div class="links p-2 flex-grow-1 bd-highlight">
          </div>
          <div  class="d-flex bd-highlight">
              <a routerLink="" class="link">Inicio</a>
              <a routerLink="nuevacuenta" class="link">Nueva Cuenta</a>
              <a routerLink="miscuentas" class="link link--active">Mis Cuentas</a>
          </div>
      </div>
  </nav>
</header>
