<header class="container-fluid hero">
  <nav class="nav__hero">
      <div class="contenedor nav__contenedor d-flex bd-highlight">
          <div class="logo d-flex bd-highlight navbar-brand">
              <h2 class="logo__name">GVNEG</h2>
          </div>
          <div class="links p-2 flex-grow-1 bd-highlight">
          </div>
          <div  class="d-flex bd-highlight">
              <a routerLink="" class="link">Inicio</a>
              <a routerLink="#" class="link">Buscar Cuenta</a>
              <a routerLink="cuentas" class="link">Nueva Cuenta</a>
              <a routerLink="#" class="link link--active">Mi Cuenta</a>
          </div>
      </div>
  </nav>
</header>
